main {
  margin: 100px auto 0 auto;
  max-width: 1300px;
}

main > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

.blur {
  filter: blur(5px); /* Adjust the blur radius as needed */
  pointer-events: none; /* Prevent interaction with blurred content */
}
