.fw-400 {
  font-weight: 400 !important;
}

.fs-14 {
  font-size: 14px !important;
}

.job-list-card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
  overflow: hidden;
  max-width: 360px;
}

.job-list-card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
}

.job-posted-how-much-ago {
  display: flex;
  width: 100%;
  padding: 5px 0px;
}

.job-posted-time-block {
  padding: 4px 6px;
  box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
}

.job-posted-time-block p {
  margin: 0px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 9px;
}

.full-job-details {
  width: 100%;
  flex: 1 1 0%;
  padding: 8px 16px;
}

.logo-with-company-name {
  display: flex;
  gap: 0.5rem;
}

.logo-with-company-name img {
  width: 25px;
  height: 25px;
}

.company-info h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.company-info h2 {
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;
}

.job-location {
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
  text-transform: capitalize;
}

.estimated-salary {
  font-weight: 400;
  font-size: 14px;
  margin: 8px 0;
  color: rgb(77, 89, 106);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.43;
}

.about-company-content {
  height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}

.about-company-content.expanded {
  height: auto;
  overflow: auto;
  mask-image: none;
}

.about-company-content > div p {
  margin: 0px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.about-company-whole-content {
  white-space: pre-wrap;
  font-size: 14px;
}

.view-job-link {
  text-align: center;
  margin-bottom: 0.5rem;
  position: relative;
  top: 5px;
}

.view-job-link button {
  color: #4943da;
  background-color: transparent;
  font-size: 14px !important;
  border: none;
  cursor: pointer;
}

.experience-required {
  margin-top: 10px;
}

.experience-required h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
  margin-top: 10px;
}

.experience-required h2 {
  font-size: 14px;
  line-height: 1.5;
}

.easy-apply-button-container {
  flex-grow: 1;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.easy-apply-button-block,
.unlock-referral-button {
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.unlock-referral-button {
  padding: 0 15px;
}

.easy-apply-button-block button {
  width: 100%;
  background-color: rgb(85, 239, 196);
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 8px;
  margin: 5px 0;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.75;
  min-width: 64px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  border: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.unlock-referral-button button {
  width: 100%;
  background-color: rgb(55, 52, 211);
  color: #fff;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 8px;
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.75;
  min-width: 64px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  border: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loaded {
  animation: blurAnimation 0.5s ease-in-out;
}

@keyframes blurAnimation {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}
